<div class='content animated fadeIn'>
  <div class='basic-info'>
      <h1 class='name animated bounceInLeft'>Albert Tran</h1>
      <h4 class='description animated bounceInLeft'>Software Engineer. Developer.</h4>
  </div>
  <div class='border-element' [class.resize-separator]='resizeSeparator'></div>
  <div class='nav-buttons'>
    <div class='nav-button-container' routerLink='About'>
      <h3 class='about animated fadeIn'>About</h3>
      <div class='bottom-border-element about-border'></div>
    </div>

    <div class='nav-button-container' routerLink='Portfolio'>
      <h3 class='portfolio animated fadeIn'>Portfolio</h3>
      <div class='bottom-border-element portfolio-border'></div>
    </div>

    <div class='nav-button-container' routerLink='Connect'>
      <h3 class='connect animated fadeIn'>Connect</h3>
      <div class='bottom-border-element connect-border'></div>
    </div>
  </div>
</div>